.form__button {
    width: 80%;
    height: 50px;
    background-color: white;
    border: none;
    padding: 10px;
    margin: 30px 0px 10px;
    font-size: 18px;
}

.form__button:hover {
    background-color: #ccc;
}

.form__button:disabled {
    cursor: not-allowed;
    color: black;
}