.form__result {
    display: flex;
    flex-direction: column;
}

.form__paragraphResult {
    font-size: 20px;
    margin: 0;
}

.result {
    font-weight: bold;
    font-size: 25px;
    padding: 5px 0 10px 0;
}